.additional-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.cost__text,
.cost__price {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  text-align: right;
  color: #444444;
}
