.basic-information {
  position: relative;
  color: #ffffff;
  width: 100vw;

  @media (min-width: @tablet-width) {
    min-height: 810px;
  }

  @media (min-width: @desktop-width) {
    min-height: 630px;
    margin-bottom: 82px;
    background-image: url("../img/background-cat.jpg");
    background-repeat: no-repeat;
    background-size: 720px 694px;
    background-position: 100% 0;
  }
}

.basic-information__image-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  min-width: 320px;
  min-height: 302px;
  margin-bottom: 136px;
  background-image: url("../img/background-cat.jpg");

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    min-height: 165px;
    margin-bottom: 49px;
    background: none;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}

.basic-information__title {
  display: block;
  width: 89%;
  min-height: 72px;
  padding: 0;
  margin: auto;
  margin-top: 26px;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 414px;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}

.basic-information__text {
  display: block;
  width: 200px;
  min-height: 15px;
  padding: 0;
  margin: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 414px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}

.basic-information__image {
  position: absolute;
  content: "";
  top: 167px;
  left: 7%;
  width: 280px;
  height: 270px;

  @media (min-width: @tablet-width) {
    top: 185px;
    left: 50%;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    top: 185px;
    left: 50%;
    z-index: 1;
  }
}

.basic-information__link {
  margin: 0 auto;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin: 0;
    z-index: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}
