.basic-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 24px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.basic-data__name {
  text-transform: uppercase;
  color: #444444;
}

.basic-data__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
