.basic-information {
  position: relative;
  width: 100vw;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    width: 100vw;
    min-height: 810px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    min-height: 286px;
    margin-bottom: 265px;
  }
}

.basic-information__image-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  min-width: 320px;
  width: 100vw;
  min-height: 302px;
  margin-bottom: 136px;
  background-image: url("../img/background-cat-mobile.jpg");
  background-position: center;
  background-size: 320px auto;
  background-color: rgba(104, 183, 56, 0.85);
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-cat-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    min-height: 165px;
    margin-bottom: 50px;
    background: none;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.basic-information__title {
  display: block;
  width: 89%;
  min-height: 72px;
  padding: 0;
  margin: auto;
  margin-top: 26px;
  margin-bottom: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 70%;
    margin: 0;
    padding: 0;
    margin-left: 12%;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: start;

    @media (min-width: @desktop-width) {
      width: 40%;
      padding: 0;
      margin-left: 6.5%;
      margin-bottom: 38px;
    }
  }
}

.basic-information__text {
  display: block;
  width: 200px;
  min-height: 15px;
  padding: 0;
  margin: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 414px;
    margin-left: 12.5%;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    width: 40%;
    padding: 0;
    margin-left: 6.5%;
  }
}

.basic-information__image {
  position: absolute;
  content: "";
  top: 167px;
  left: 50%;
  transform: translateX(-140px);
  width: 280px;
  height: 270px;

  @media (min-width: @tablet-width) {
    top: 200px;
    left: 50% - 28px;
    z-index: -1;
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    top: -85px;
    left: 50% - 1.5px;
    z-index: 1;
    width: 552px;
    height: 499px;
  }
}

.basic-information__link {
  margin: 0 auto;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    z-index: 1;
    margin: 0;
    margin-left: 12.5%;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;

    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}
