.card {
  padding-top: 19px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ebebeb;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;

  &:last-child {
    padding: 0;
    border: none;
  }
}

.card__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.card__title,
.card__value {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.card__link {
  margin: 22px 20px;
}
