.catalog {
  outline: 2px solid rgba(255, 0, 0, 0.8);
  outline-offset: -2px;
}

.catalog__title-wrapper {
  border-bottom: 1px solid #ebebeb;
}

.catalog__title {
  padding-top: 28px;
  padding-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;

  @media (min-width: @tablet-width) {
    border: none;
  }
}
