.contacts {
  display: flex;
  padding-bottom: 26px;
}

.contacts-background {
  background: #f2f2f2;
}

.contacts-background-wrapper {
  display: flex;
}

.contacts__title {
  width: 140px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  width: 140px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
