.current-example {
  position: relative;
  min-width: 122px;
  min-height: 45px;
  padding-top: 10px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 20px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    min-width: 162px;
    height: 60px;
    margin: 0;
  }
}

.current-example:last-child {
  margin-left: auto;
  margin-right: 0;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.current-example__number {
  padding-top: 5px;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.current-example__clarification {
  position: absolute;
  content: "";
  top: 30px;
  left: 17px;
  z-index: 1;
  width: 75px;
  padding: 5px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  text-align: center;
  color: #444444;
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    top: 43px;
    left: 14px;
    min-width: 114px;
    padding: 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  &--2 {
    @media (min-width: @tablet-width) {
      left: 5px;
      min-width: 140px;
    }
  }
}
