.current-example {
  position: relative;
  width: 122px;
  height: 54px;
  padding-top: 10px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 34px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  &:last-child {
    margin-left: auto;
    margin-right: 0;
  }
}

.current-example__number {
  padding: 0;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.current-example__clarification {
  position: absolute;
  content: "";
  top: 40px;
  left: 10px;
  z-index: 1;
  width: 80px;
  padding: 10px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  text-align: center;
  color: #444444;
  background-color: #eaeaea;
}
