.example {
  background: #eaeaea;
  padding: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #000000;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.example__item {
  padding: 0;
  margin: 0;
}

.example__result {
  margin-bottom: 27px;
}

.example__outcome {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 42px;

  @media (min-width: 768px) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.outcome__text {
  @media (min-width: 768px) {
    margin-bottom: 9px;
  }
}
