.example {
  padding: 20px;
  padding-top: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    background: none;
  }
}

.example__wrapper-section {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #eaeaea;
  }
}

.example__title {
  display: inline;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.example__text {
  padding-top: 22px;
  margin-bottom: 25px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: @desktop-width) {
    width: 436px;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  list-style: none;

  @media (min-width: @desktop-width) {
    width: 366px;
  }
}

.example__item {
  margin-right: auto;
}

.example__item:nth-child(2) {
  margin-right: 0;
}

.example__result {
  margin-bottom: 27px;
}

.example__outcome {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: flex-end;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    align-items: center;
    width: 366px;
  }
}
