.example {
  background: #eaeaea;
  padding: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #000000;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__period-result {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
