.footer {
  background-color: #f2f2f2;


  @media (min-width: @tablet-width) {
    min-height: 150px;
  }
}

.footer--form {
  padding-top: 0;
  padding-bottom: 0;

  @media (min-width: @form-tablet-width) {
    width: 100vw;
    min-height: 150px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 25px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 20px;
  }
}

.footer__wrapper--form {
  width: 89vw;
  transform: translateX(-3px);

  @media (min-width: @form-tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    min-width: 1220px;
    width: 84.7vw;
  }
}

.footer__logo {
  width: 128px;
  height: 24px;
  padding-top: 38px;
  margin-bottom: 20px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 128px;
    height: 24px;
    padding-top: 35px;
    margin-right: 85px;
    text-align: end;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 40px;
    margin-right: 88px;
  }
}

.footer__logo--form {
  padding-top: 38px;
  padding-left: 3px;

  @media (min-width: @form-tablet-width) {
    height: min-content;
    padding-top: 31px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 43px;
  }
}

.footer__socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: @desktop-width) {
    align-items: center;
  }
}

.footer__link {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding-top: 0;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 23%;
    margin-top: 37px;
    margin-bottom: auto;

    @media (min-width: @desktop-width) {
      width: 13.5%;
      margin-top: 46px;
      margin-bottom: auto;
    }
  }
}

.footer__link--form {
  padding-left: 5px;
  padding-top: 0;

  @media (min-width: @form-tablet-width) {
    transform: translateY(-3px);
    width: 23%;
    height: min-content;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    transform: none;
    width: 13%;
  }
}

.footer__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: none;
}

.footer__image {
  align-self: flex-end;
  transform: translateY(-6px);
  width: 27px;
  height: 34px;
  margin-right: 1px;
}

.footer__image--form {
  @media (min-width: @form-tablet-width) {
    margin-right: 0;
  }
}

.footer__link:hover path {
  fill: #68b738;
}
