.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  align-items: center;
  background-color: #f2f2f2;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer__logo {
  padding-top: 39px;
  margin-bottom: 32px;
}

.footer__link {
  position: relative;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;

  @media (min-width: @tablet-width) {
    padding-right: 60px;
  }
}

.footer__link::before {
  content: "";
  position: absolute;
  left: 210px;
  top: -5px;
  width: 27px;
  height: 35px;
  background-image: url("../img/html_academy.svg");

  @media (min-width: @tablet-width) {
    left: 150px;
  }
}
