.form-programs__wrapper {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @form-tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form-programs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 20px;

  @media (min-width: @form-tablet-width) {
    transform: translateX(-13px);
    padding: 28px;
    padding-bottom: 29px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
  }
}

.form-programs__radio-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form-programs__radio-text {
  position: relative;
  padding-left: 31px;
  margin-bottom: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: @form-tablet-width) {
    padding-left: 60px;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form-programs__radio-text::before {
  position: absolute;
  content: "";
  top: -7px;
  left: -14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;

  @media (min-width: @form-tablet-width) {
    top: -4px;
    left: -1px;
    width: 40px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form-programs__radio-input:checked + .form-programs__radio-text::after {
  position: absolute;
  content: "";
  top: 1px;
  left: -5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #68b738;

  @media (min-width: @form-tablet-width) {
    top: 7px;
    left: 10.5px;
    width: 18px;
    height: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}
