.form {
  margin-bottom: 35px;
  padding-bottom: 0;
}

.form__wpapper {
  width: 89vw;
  padding-left: 0;

  @media (min-width: @form-tablet-width) {
    width: 82vw;
  }
}

.form__title {
  margin-bottom: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;

  @media (min-width: @form-tablet-width) {
    margin-bottom: 55px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    //width: 171px;
  }
}

.form__subtitle {
  width: 90%;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @form-tablet-width) {
    width: 60%;
    margin-bottom: 67px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    //width: 171px;
  }
}

.form__wrapper--button {
  display: flex;
  flex-direction: column;
  width: 89vw;
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.form__button {
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 20px;
  border: none;

  @media (min-width: @tablet-width) {
    margin-right: 61px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 81px;
  }
}

.form__text {
  transform: translateX(-3px);
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #000000;
}
