.form-programs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form-programs__radio-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
