.form {
  margin-bottom: 39px;
}

.form__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.form__subtitle {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.additionally__button {
  margin-bottom: 20px;
}

.form__text {
  margin-bottom: 32px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #000000;
}
