.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    padding-top: 40px;
    margin-bottom: 74px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    align-items: baseline;
    margin-bottom: 124px;
    padding-top: 69px;
  }
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 190px;
  min-width: 50%;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    min-width: 171px;
    padding-top: 5px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 111px;
  }
}

.header__toggle {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 30px;
  height: 18px;
  padding: 2px;
  margin-top: 20px;
  background-color: #ffffff;
  border: none;

  &--open {
    position: absolute;
    content: "";
    top: -3px;
    left: 100% - 19px;
    background-image: url("../img/toggle-button.svg");
  }

  &--close {
    position: absolute;
    content: "";
    top: -2px;
    left: 250px;
    width: 20px;
    height: 20px;
    background-image: url("../img/nav-close.svg");
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

@media (max-width: @mobile-width-only) {
  .header__nav {
    position: absolute;
    content: "";
    top: 64px;
    left: 0;
    z-index: 1;
    width: 320px;
    min-height: 198px;
  }
}
