.logo__image {
  width: 33px;
  height: 37px;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.logo__title {
  width: 101px;
  height: 18px;

  @media (min-width: @desktop-width) {
    width: 115px;
    margin-left: 12px;
  }
}

.logo__title--header {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

/*.logo__title--footer {
  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}*/

.logo-vk {
  width: 23px;
  height: 16px;

  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.logo-inst {
  width: 16px;
  height: 16px;

  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.logo-fs {
  width: 22px;
  height: 22px;

  @media (min-width: @tablet-width) {
    width: 28px;
    height: 33px;
  }
}
