.outer-wrap--basic-data {
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  border: none;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @form-tablet-width) {
    padding-top: 2px;
    margin-bottom: 28px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 46.7%;
    margin-bottom: 0;
  }
}

.outer-wrap--form-programs {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @form-tablet-width) {
    padding-top: 2px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 46%;
    padding: 0;
    margin: 0;
  }
}

.outer-wrap--contacts-data {
  position: relative;
  margin-bottom: 10px;
  border: none;

  @media (min-width: @form-tablet-width) {
    margin-left: 32px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 60px;
  }
}

.outer-wrap--contacts-data::before {
  position: absolute;
  content: "";
  top: 21px;
  left: 70%;
  z-index: -1;
  min-width: 95px;
  max-width: 100vw;
  height: 2px;
  background-color: #68b738;

  @media (min-width: @form-tablet-width) {
    top: 23px;
    left: 70%;
    min-width: 210px;
  }

  @media (min-width: @desktop-width) {
    top: 29px;
    left: 46%;
    min-width: 776px;
  }
}

.outer-wrap--contacts-data::after {
  @media (min-width: @form-tablet-width) {
    position: absolute;
    content: "";
    top: 23px;
    right: 96.5%;
    z-index: -1;
    min-width: 28px;
    max-width: 100%;
    height: 2px;
    background-color: #68b738;
  }

  @media (min-width: @desktop-width) {
    top: 29px;
    right: 99%;
    min-width: 70px;
  }
}

.outer-wrap--comment {
  position: relative;
  margin-bottom: 7px;
  border: none;

  @media (min-width: @form-tablet-width) {
    min-width: 740px;
    margin: 0;
    margin-bottom: 48px;
  }
}

.outer-wrap--comment::before {
  position: absolute;
  content: "";
  top: 20px;
  left: 51%;
  z-index: -1;
  min-width: 157px;
  max-width: 90vw;
  height: 2px;
  background-color: #68b738;

  @media (min-width: @form-tablet-width) {
    top: 23px;
    left: 35%;
    min-width: 480px;
  }

  @media (min-width: @desktop-width) {
    top: 26px;
    left: 24%;
    min-width: 1105px;
  }
}

.outer-wrap--comment::after {
  @media (min-width: @form-tablet-width) {
    position: absolute;
    content: "";
    top: 23px;
    right: 96.5%;
    z-index: -1;
    min-width: 28px;
    max-width: 100%;
    height: 2px;
    background-color: #68b738;
  }

  @media (min-width: @desktop-width) {
    top: 26px;
    right: 95.3%;
    min-width: 65px;
  }
}

.outer-wrap--additionally-form {
  position: relative;
  margin-bottom: 30px;
  border: none;

  @media (min-width: @form-tablet-width) {
    min-width: 740px;
    width: 88%;
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 54px;
    margin-left: 70px;
    padding-left: 40px;
  }
}

.outer-wrap--additionally-form::before {
  position: absolute;
  content: "";
  top: 20px;
  left: 58%;
  z-index: -1;
  min-width: 135px;
  max-width: 100%;
  height: 2px;
  background-color: #68b738;

  @media (min-width: @form-tablet-width) {
    top: 23px;
    left: 37%;
    min-width: 470px;
  }

  @media (min-width: @desktop-width) {
    top: 29px;
    left: 23%;
    min-width: 1075px;
  }
}

.outer-wrap--additionally-form::after {
  @media (min-width: @form-tablet-width) {
    position: absolute;
    content: "";
    top: 23px;
    right: 96.5%;
    z-index: -1;
    min-width: 28px;
    max-width: 100%;
    height: 2px;
    background-color: #68b738;
  }

  @media (min-width: @desktop-width) {
    top: 29px;
    right: 100%;
    min-width: 65px;
  }
}
