.page-footer {
  position: relative;
}

.page-footer__contacts {
  @media (min-width: @desktop-width) {
    position: absolute;
    content: "";
    top: 90px;
    left: 0;
    width: 570px;
    min-height: 201px;
  }
}
