.programs {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    min-width: 708px;
    width: 92vw;
    margin: 0 30px;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    transform: none;
    min-width: 1220px;
    width: 84.7%;
    margin: 0 auto;
    margin-bottom: 70px;
  }
}

.programs__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  list-style: none;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.programs__item {
  display: grid;
  grid-template-areas:
    "image title"
    "text text"
    "link link";
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr min-content;
  padding: 6px 20px;
  padding-bottom: 19px;
  margin-bottom: 23px;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    grid-template-areas:
      "title image"
      "text image"
      "link image";
    grid-template-columns: 1fr 200px;
    grid-template-rows: repeat(3, min-content);
    max-width: 100%;
    height: auto;
    padding-top: 76px;
    padding-bottom: 57px;
    padding-left: 49px;
    padding-right: 64px;
    margin-bottom: 28px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    grid-template-areas:
      "image title"
      "text text"
      "link link";
    grid-template-columns: 165px 1fr;
    grid-template-rows: 30% min-content 10%;
    row-gap: 40px;
    min-width: 520px;
    width: 37%;
    min-height: 280px;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 0;
    padding-right: 0;
    margin: 0;
  }
}

.programs__item:last-child {
  padding-top: 7px;
  padding-left: 13px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    padding-top: 78px;
    padding-bottom: 57px;
    padding-left: 49px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 25px;
    padding-bottom: 0;
  }
}

.programs__image {
  grid-area: image;
  margin-top: 15px;
}

.programs__image--slim {
  width: 50px;
  height: 53px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 211px;
    margin-right: 0;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 106px;
    margin-top: 15px;
  }
}

.programs__image--pro {
  width: 67px;
  height: 50px;
  margin-right: 11px;

  @media (min-width: @tablet-width) {
    transform: translateX(-35px);
    width: 268px;
    height: 200px;
    margin-top: 13px;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    transform: translateX(-20px);
    width: 134px;
    height: 100px;
    padding-top: 8px;
  }
}

.programs__title {
  grid-area: title;
  min-width: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 65%;
    height: auto;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    width: 90%;
    margin-left: 0;
    padding-top: 52px;
  }
}

.programs__text {
  grid-area: text;
  min-width: auto;
  padding-bottom: 20px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    width: 84%;
    min-height: 96px;
    padding: 0;
    margin: 0;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 95%;
    min-height: 72px;
    padding-top: 18px;
    margin-bottom: 20px;
  }
}

.programs__text--pro {
  padding-left: 7px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    width: 86%;
    padding-left: 0;
    margin-bottom: 29px;
  }

  @media (min-width: @desktop-width) {
    width: 90%;
    padding-bottom: 0;
    margin-bottom: 30px;
  }
}

.programs__link {
  grid-area: link;
  position: relative;
  width: 130px;
  padding: 0;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: start;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    min-width: 160px;
    font-size: 20px;
    line-height: 30px;
    text-align: start;

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: @desktop-width) {
    transform: translateY(-45px);
    min-width: 168px;
  }
}

.programs__link--slim {
  @media (min-width: @desktop-width) {
    padding-top: 10px;
  }
}

.programs__link--pro {
  padding-left: 7px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }
}

.programs__link::before {
  position: absolute;
  content: "";
  top: 2px;
  right: 4px;
  width: 24px;
  height: 12px;
  background-image: url("../img/index/arrow.svg");

  @media (min-width: @tablet-width) {
    top: 8px;
    right: 2px;
  }

  @media (min-width: @desktop-width) {
    top: 20px;
    right: 7px;
  }
}

.programs__link--pro::before {
  right: 6px;

  @media (min-width: @tablet-width) {
    top: 10px;
    right: 6px;
  }

  @media (min-width: @desktop-width) {
    top: 8px;
    right: 12px;
  }
}

.programs__link:hover.programs__link::before {
  top: 2px;
  right: -4px;
  width: 32px;
  height: 12px;
  background-image: url("../img/index/arrow-long.svg");

  @media (min-width: @tablet-width) {
    top: 8px;
    right: -6px;
  }

  @media (min-width: @desktop-width) {
    top: 20px;
    right: -1px;
  }
}

.programs__link--pro:hover.programs__link--pro::before {
  top: 2px;
  right: -2px;
  width: 32px;
  height: 12px;
  background-image: url("../img/index/arrow-long.svg");

  @media (min-width: @tablet-width) {
    top: 10px;
    right: -2px;
  }

  @media (min-width: @desktop-width) {
    top: 8px;
    right: 4px;
  }
}
