.wrapper-basic-data-and-programs {
  @media (min-width: @form-tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 69px;
  }
}
